<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="web/assets/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link href="web/assets/default/css/paper-kit.css?v=2.1.0" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
    <link href="web/assets/vendor/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="web/assets/default/css/nucleo-icons.css" rel="stylesheet" />

    <title>Bomberman - {% block title %}Empty Page{% endblock %}</title>

    {% block stylesheets %}{% endblock %}

</head>

<body>
{% block body %}{% endblock %}

<!-- jQuery first, then Tether, then Bootstrap JS. -->

<!-- Core JS Files -->
<script src="web/assets/vendor/jquery/jquery.min.js"></script>
<script src="web/assets/vendor/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="web/assets/vendor/popper.js/dist/popper.js" type="text/javascript"></script>
<script src="web/assets/vendor/tether/dist/js/tether.min.js"></script>
<script src="web/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>


<!-- Switches -->
<script src="web/assets/vendor/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>

<!--  Plugins for Slider -->
<script src="web/assets/vendor/nouislider/distribute/nouislider.min.js"></script>

<!--  Plugins for DateTimePicker -->
<script src="web/assets/vendor/moment/min/moment.min.js"></script>
<script src="web/assets/vendor/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

<!--  Paper Kit Initialization and functons -->
<script src="web/assets/default/js/paper-kit.js?v=2.1.0"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
