{% extends "/default/base.html.twig" %}

{% block title %}Landing Page{% endblock %}

{% block body %}

    {% include '/default/components/navbar.html.twig' %}
    <div class="wrapper">
        <div class="page-header section-dark">
            <div class="section">
                <div class="container">
                    <h1>New Page</h1>

                </div>
            </div>

        </div>
    </div>
    {% include '/default/components/footer.html.twig' %}
{% endblock %}