{% extends "/default/base.html.twig" %}

{% block title %}Landing Page{% endblock %}

{% block body %}

    {% include '/default/components/navbar.html.twig' %}
    <div class="wrapper">
        <div class="page-header section-dark" style="background-image: url('web/assets/default/img/antoine-barres.jpg')">
            <div class="filter"></div>
            <div class="content-center">
                <div class="container">
                    <div class="title-brand">
                        <h1 class="presentation-title">Bomberman Online</h1>
                        <div class="fog-low">
                            <img src="web/assets/default/img/fog-low.png" alt="">
                        </div>
                        <div class="fog-low right">
                            <img src="web/assets/default/img/fog-low.png" alt="">
                        </div>
                    </div>

                    <h2 class="presentation-subtitle text-center">Start bombing the world one player at a time! </h2>
                </div>
            </div>
            <div class="moving-clouds" style="background-image: url('web/assets/default/img/clouds.png'); ">

            </div>
            <h6 class="category category-absolute">With love for you
                {#<a href="https://www.creative-tim.com" target="_blank">#}
                    {#<img src="web/assets/default/img/creative-tim-white-slim2.png" class="creative-tim-logo">#}
                {#</a>#}
            </h6>
        </div>
        <div class="main">
            <div class="section">
                <div class="container">
                    <h1>Bomberman Intro</h1>

                    <p>So this is a game not about Bomberman but you know why it's named like that.... </p>
                    <p>You can basicly play online bomberman here, Choose a room to join or create a new one and never forget to have fun!</p>

                    <br>
                    <br>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Table Name</th>
                            <th>Expiration Date</th>
                            <th>Players</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>AwsomeTableName</td>
                            <td>20:30 30/07/2018</td>
                            <td>ucv,ds</td>
                            <td style="padding: 0;">
                                <a href="?room=093f1" type="button" class="btn btn-primary btn-round">Join</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>AnotherAwsomeTableName</td>
                            <td>20:30 30/07/2018</td>
                            <td>ucv,ds</td>
                            <td style="padding: 0;">
                                <a href="?room=093f1" type="button" class="btn btn-primary btn-round">Join</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
    {% include '/default/components/footer.html.twig' %}
{% endblock %}