{% extends "/default/base.html.twig" %}

{% block title %}Landing Page{% endblock %}

{% block body %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Please input a player name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="getPlayerName" type="text" class="form-control" placeholder="Set a player name ?" style="width: 100%">
                </div>
                <div class="modal-footer" style="padding: 5px">
                    <button id="setPlayerName" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    {% include '/default/components/navbar.html.twig' %}
    <div class="wrapper">
        <div class="section-dark">
            <div class="section">
                <div class="container">
                    <h1>Room {{ room.number }}</h1>
                </div>
            </div>

        </div>

        <div class="card pull-right col-md-6 col-xs-12" style="position: fixed;right: 0;bottom: 0">
            {#<img class="card-img-top" src="..." alt="Card image cap">#}
            <div class="card-block">
                <h4 class="card-title">Chat</h4>
                <div class="chat_box" style="max-height: 300px;overflow: hidden;overflow-y: scroll">
                    {#<p class="card-text">[player 1]:Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
                </div>
                <br>
                <form id="chat-form" class="form-inline" style="display: block" >
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Type here to send message" style="width: 70%;float: left;" name="message">
                        <button type="submit" class="btn btn-primary" style="margin-left: 5px;float: left;">Send</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    {% include '/default/components/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script src="src/client/ServerControllerClass.js"></script>
    <script src="src/client/GameControllerClass.js"></script>
    <script src="src/client/PlayerControllerClass.js"></script>
    <script type="text/javascript">
        var Game;

        var test;
        $(document).ready(function(){
            Game = new GameController();

            //Hooking the chat
            Game.chatMessage = function (message) {
                $('.chat_box').append("<p>"+message+"</p>");
            };

            Game.connect('ws://{{ room.ip }}:2612',"{{ room.number }}");

            //Setting the player name
            $('#myModal').modal('show');
            $('#setPlayerName').click(function() {
                var newPlayername = $('#getPlayerName')[0].value;
                if(newPlayername !== ''){
                    Game.PlayerController.changeName(newPlayername);
                    $('#myModal').modal('hide');
                    return true;
                }else{
                    return false;
                }
            });

            $( "#chat-form" ).submit(function( event ) {
                var $inputs = $('#chat-form :input');
                var values = {};
                $inputs.each(function() {
                    values[this.name] = $(this).val();
                    $(this).val("");
                });

                Game.clientAction(ACTIONS.SEND_MESSAGE,values)

                event.preventDefault();
            });

        });

    </script>
{% endblock %}
