<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="http://www.itsirc.com">itsirc</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                    <span class="copyright">
                        © <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by ucv
                    </span>
            </div>
        </div>
    </div>
</footer>