<nav class="navbar navbar-expand-md fixed-top navbar-transparent" color-on-scroll="100">
    <div class="container">
        <div class="navbar-translate">
            <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
            <a class="navbar-brand" href="/Bomberman-Online">Bomberman-Online</a>
        </div>
        {#<div class="collapse navbar-collapse" id="navbarToggler">#}
            {#<ul class="navbar-nav ml-auto">#}
                {#<li class="nav-item">#}
                    {#<a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">#}
                        {#<i class="fa fa-twitter"></i>#}
                        {#<p class="d-lg-none">Twitter</p>#}
                    {#</a>#}
                {#</li>#}
            {#</ul>#}
        {#</div>#}
    </div>
</nav>